<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hellow world</title>
    <link rel="stylesheet" href="../assets/css/bootstarp.min.css">
</head>
<body>
   
    <div class="container py-5">
        <div class="row text-center py-5">
            <div class="col-md-6 offset-md-3">
                <h1>Login now</h1>
                <div class="card border-0 mt-3">
                    <form class="form">
                        <input class="form-control mb-3" type="text" placeholder="Email address" autofocus id="email">
                        <input class="form-control mb-3" type="password" placeholder="Enter your password" id="password">
                        <button class="btn btn-secondary">Login now</button>
                    </form>
                    <p id="msg" class="mt-5"></p>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/login.js"></script>
</body>
</html>