<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hellow world</title>
    <link rel="stylesheet" href="../assets/css/bootstarp.min.css">
</head>
<body>
   
    <div class="container py-5">
        <div class="row text-center py-5">
            <div class="col-md-6 offset-md-3">
                <h1>Login now</h1>
                <div class="card border-0 mt-3">
                    <div class="form-element">
                    <input class="form-control mb-3" type="text" placeholder="Email address" autofocus>
                    <input class="form-control mb-3" type="password" placeholder="Enter your password">
                    <button class="btn btn-secondary">Register now</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>